* {
  box-sizing: border-box;
  font-family: 'David Libre', serif;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-image: url('../img/pexels-soumil-kumar-735911.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 10% 20px;
  text-align: center;
  color:white;
}

.header1{
  font-size: 50px;
}

.headerp{
  font-size: 60px;
}

/* Create three equal columns that floats next to each other */
/*ejemplo de estilo por clase*/

.one-column {
  float: left;
  width: 100%;
  padding: 20px 20%;
}

.one-column h1,
.one-column h2 {
  text-align: center;
}

.cadetblue{
  background-color: cadetblue;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

/*clase two colums*/
.two-column {
  padding: 20px;
  float: left;
  width: 50%;
}

.three-column {
  padding: 20px;
  float: left;
  width: 33.33%;
}

.three-column img {
  width: 100%;
}

.three-column .desc {
  padding: 10px;
  text-align: center;
}